<h1>Manik Sample Table</h1>

<button (click)="getData()">Get Data</button>

<table *ngIf="data.length > 0" mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="bed">
    <th mat-header-cell *matHeaderCellDef>Bed</th>
    <td mat-cell *matCellDef="let element"> {{element.bed}} </td>
  </ng-container>

  <ng-container matColumnDef="patient name">
    <th mat-header-cell *matHeaderCellDef>Patient Name</th>
    <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="assigned nurse id">
    <th mat-header-cell *matHeaderCellDef>Assigned Nurse ID</th>
    <td mat-cell *matCellDef="let element"> {{element.assigned_nurse_id}} </td>
  </ng-container>

  <ng-container matColumnDef="need urgency">
    <th mat-header-cell *matHeaderCellDef> Need Urgency </th>
    <td mat-cell *matCellDef="let element"> {{element.need_urgency}} </td>
  </ng-container>

  <ng-container matColumnDef="need">
    <th mat-header-cell *matHeaderCellDef> Need </th>
    <td mat-cell *matCellDef="let element"> {{element.need}} </td>
  </ng-container>

  <ng-container matColumnDef="assigned nurse">
    <th mat-header-cell *matHeaderCellDef> Assigned Nurse </th>
    <td mat-cell *matCellDef="let element"> {{element.assigned_nurse}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="timestamp created epoch">
    <th mat-header-cell *matHeaderCellDef> Timestamp Created Epoch</th>
    <td mat-cell *matCellDef="let element"> {{element.timestamp_created_epoch}} </td>
  </ng-container>

  <ng-container matColumnDef="patient id">
    <th mat-header-cell *matHeaderCellDef> Patient ID </th>
    <td mat-cell *matCellDef="let element"> {{element.patient_id}} </td>
  </ng-container>

  <ng-container matColumnDef="timestamp created">
    <th mat-header-cell *matHeaderCellDef> Timestamp Created </th>
    <td mat-cell *matCellDef="let element"> {{element.timestamp_created}} </td>
  </ng-container>

  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef> Room </th>
    <td mat-cell *matCellDef="let element"> {{element.room}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

